.main-div-complaint{
    margin:0px 20px;
    padding: 50px;
    justify-content: center;
    display: block;
    color: #061437;
    font-weight: 600;
}
.container{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:42%;
    margin-bottom: 20px;
}
.container2{
    background-color: #fff;
    padding: 25px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-bottom: 20px;
    height: 100%;
    text-align: center;
    margin-left: 10%;
}
.complaint-btn{
    display: block;
    margin: 0 auto;
    background-color: #061437;
    color: #fff;
    font-weight: 600;
}
.complaint-btn:hover{
    background-color: #4c6bc7;
    color: #fff;
    font-weight: 600;
}